/* .h.--1 {
  color: white;
} */

/* COLORS
color: rgba(255, 141, 160, 0.973); 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  position: relative;
}
